<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IB.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IB.Core.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>data source=.\SQLEXPRESS;initial catalog=StockMarket;persist security info=True;user id=trader;password=a1b2c3d4;MultipleActiveResultSets=True;App=IBTrade</value>
            </setting>
            <setting name="MailServerUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="MailServerPassword" serializeAs="String">
                <value />
            </setting>
        </IB.Core.Properties.Settings>
    </userSettings>
</configuration>